#h_0 {
    display: block;
    height: 750px;
    background-color: rgba(12, 56, 101, 1);
}
#h_0_0,
#h_0_2 {
    color: rgba(72, 192, 182, 1);
    cursor: pointer;
    padding: 20px;
    position: absolute;
    top: 375px;
    margin-top: -22px;
    z-index: 1;
}
#h_0_2 {
    left: 0;
}
#h_0_0:hover,
#h_0_2:hover {
    background-color: rgba(16, 51, 86, 1);
}
#h_0_0_0,
#h_0_2_0 {
    font-weight: bold;
}
#h_0_1 {
    display: flex;
    height: 100%;
    flex-direction: row;
}
#h_0_1_0,
#h_0_1_1,
#h_0_1_2 {
    display: none;
    height: 100%;
    width: 100%;
    animation-name: h_0_1;
    animation-duration: 2.5s;
    z-index: 0;
}
#h_0_1_0 {
    background-image: url("../Media/Photos/Groups.jpg");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: 1550px;
}
#h_0_1_1 {
    background-image: url("../Media/Photos/Pages.jpg");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: 1550px;
}
#h_0_1_2 {
    background-image: url("../Media/Photos/Sell.png");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: 1550px;
}
#h_0_1_0_0,
#h_0_1_1_0,
#h_0_1_2_0 {
    color: rgba(255, 255, 255, 1);
    display: flex;
    margin: 205px calc(50% - 400px);
    padding: 50px;
    width: 800px;
    flex-direction: row;
    text-decoration: none;
}
#h_0_1_1_0 {
    margin: 205px calc(50% - 445px);
    width: 890px;
}
#h_0_1_2_0 {
    margin: 205px calc(50% - 477px);
    width: 954px;
}
#h_0_1_0_0:hover,
#h_0_1_1_0:hover,
#h_0_1_2_0:hover {
    text-decoration: underline;
}
#h_0_1_0_0_0,
#h_0_1_1_0_0,
#h_0_1_2_0_0 {
    height: 200px;
    padding: 20px;
}
#h_0_1_0_0_1,
#h_0_1_1_0_1,
#h_0_1_2_0_1 {
    color: rgba(255, 255, 255, 1);
    padding: 20px;
    font-family: Tajawal-Black;
    font-size: 65px;
}
@keyframes h_0_1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#h_0_1_0_0 {
    display: flex;
    flex-direction: row;
}
#h_1 {
    display: flex;
    background-color: rgba(16, 51, 86, 1);
    flex-direction: row-reverse;
    z-index: 2;
}
#h_1_0 {
    padding: 0 20px;
}
#h_1_0_0 {
    height: 25px;
    transform: translate(0, 3.75px);
    padding: 5px;
}
#h_1_1 {
    display: flex;
    width: 100%;
    font-family: Tajawal-Black;
    flex-direction: row;
}
#h_1_1_0,
#h_1_1_1,
#h_1_1_2,
#h_1_1_3 {
    color: rgba(255, 255, 255, 1);
    float: right;
    padding: 10px;
    width: 10%;
    text-align: center;
    text-decoration: none;
}
#h_1_1_0:hover,
#h_1_1_1:hover,
#h_1_1_2:hover,
#h_1_1_3:hover {
    color: rgba(72, 192, 182, 1);
    background-color: rgba(12, 56, 101, 1);
}