.s0_0 {
    padding: 50px;
}
.s0_0_0 {
    margin: auto;
    width: 750px;
    background-color: rgba(12, 56, 101, 1);
    border-radius: 12.5px;
}
.s0_0_0_0 {
    color: rgba(255, 255, 255, 1);
    padding: 10px;
    background-color: rgba(72, 192, 182, 1);
    border-radius: 12.5px 12.5px 0 0;
    font-family: Tajawal-Black;
    font-size: 20px;
    text-align: center;
}
.s0_0_0_1 {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
}
#s0_0_0_1_0, #s0_0_0_1_1, #s0_0_0_1_2 {
    padding-top: 10px;
}
.s0_0_0_1_0_0 {
    padding: 10px;
    background-color: rgba(16, 51, 86, 1);
    text-align: center;
}
.s0_0_0_1_0_1 {
    padding: 5px 20px 5px 5px;
}
.s0_0_0_2 {
    color: rgba(255, 255, 255, 1);
    padding: 10px;
    background-color: rgba(72, 192, 182, 1);
    border-radius: 0 0 12.5px 12.5px;
    font-family: Tajawal-Black;
    font-size: 20px;
    text-align: center;
}
.s0_0_0_2_0 {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
.s0_0_0_2_0:hover {
    text-decoration: underline;
}